body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding-top: 80px; /* Espacio para el header fijo */
  color: #333;
  cursor: url("/public/box.png"), auto; /* Cursor personalizado */
}

.App {
  text-align: center;
  cursor: url("/public/box.png"), auto; /* Cursor personalizado */
}
